.tile {
  border: 1px solid black;
  border-radius: 6px;
  width: 100%;
  min-height: 160px;
  background-color: green;
  color: transparent;
}

.tile:hover {
  cursor: pointer;
}

.tile_opened {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 60px;
}
