.footer {
  text-align: center;
}

.footer__link {
  opacity: .6;
  transition: opacity .5s;
  text-decoration: none;
  font-size: 14px;
  color: thistle;
}

.footer__link:hover {
  opacity: .9;
  transition: opacity .5s;
}
