html {
  height: 100%;
  background-color: black;
}

.body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  height: 100%;
  background: linear-gradient(black, transparent, black),
  url('./images/chalkboard.jpg') center;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
